<footer class="mt-5 mb-5">
    <div class="container text-center">
        <p class="m-0 p-0">
            <a class="text-decoration-none commit-link" href="https://github.com/jesperbeisner/expense-tracker/tree/{{ deploy_git_info() }}">
                {{ deploy_time_info() }}#{{ deploy_git_info()|slice(0, 20) }}
            </a>
        </p>
    </div>
</footer>
